<% if @country.nil? %>
    <% @country = Country.new %>
<% end %>

<%= form_for @country do |f| %>
<div class="modal-body">
    <% if @country.errors.any? %>
    <div class="form-group">
        <div class="alert alert-danger  alert-dismissable">
            <strong><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved!</strong>
            <ul>
            <% @country.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    </div>
    <% end %>
    <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Country name" %>
    </div>
</div>
<div class="modal-footer">
    <button aria-hidden="true" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <%= f.submit class: "btn btn-success" %>
</div>
<% end %>
