<%= form_for @country do |f| %>
    <% if @country.errors.any? %>
    <div class="alert alert-danger  alert-dismissable">
            <strong><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved!</strong>
            <ul>
            <% @country.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
    </div>
    <% end %>
    <%= f.text_field :name, class: "form-control", placeholder: "Country name" %>
    <%= f.submit class: "btn btn-success" %>
<% end %>
